<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liorhass.android.medsstocktracker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MSTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedsStockTracker">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--
        <activity android:name=".fimport.ImportActivity"
                  android:noHistory="true"> &lt;!&ndash; After the import we navigate to MainActivity. This flag prevents the back button from taking the user back to the import activity from there &ndash;&gt;
            &lt;!&ndash; See: https://stackoverflow.com/a/39885806/1071117 &ndash;&gt;
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                &lt;!&ndash; Filtering based on file extension doesn't work on modern Android.
                     Read the comments from @CommonsWare here: https://stackoverflow.com/q/48367934/1071117
                     todo: Per @CommonsWare above, we should cancel this intent-filter and change to pull-based import instead of this push-based method &ndash;&gt;
                &lt;!&ndash; Work around Android's ugly primitive PatternMatcher implementation that can't
                     cope with finding a . early in the path unless it's explicitly matched. &ndash;&gt;
                &lt;!&ndash;
                                <data android:pathPattern=".*\\.mstdbx" />
                                <data android:pathPattern=".*\\..*\\.mstdbx" />
                                <data android:pathPattern=".*\\..*\\..*\\.mstdbx" />
                                <data android:pathPattern=".*\\..*\\..*\\..*\\.mstdbx" />
                                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mstdbx" />
                                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mstdbx" />
                &ndash;&gt;
                &lt;!&ndash;
                                <data android:pathPattern=".*\\.mstdbx" android:scheme="file" android:mimeType="*/*" android:host="*"/>
                                <data android:pathPattern=".*\\..*\\.mstdbx" android:scheme="file" android:mimeType="*/*" android:host="*"/>
                                <data android:pathPattern=".*\\..*\\..*\\.mstdbx" android:scheme="file" android:mimeType="*/*" android:host="*"/>
                                <data android:pathPattern=".*\\..*\\..*\\..*\\.mstdbx" android:scheme="file" android:mimeType="*/*" android:host="*"/>
                                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mstdbx" android:scheme="file" android:mimeType="*/*" android:host="*"/>
                                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mstdbx" android:scheme="file" android:mimeType="*/*" android:host="*"/>
                                <data android:pathPattern=".*\\.mstdbx" android:scheme="content" android:mimeType="*/*" android:host="*"/>
                                <data android:pathPattern=".*\\..*\\.mstdbx" android:scheme="content" android:mimeType="*/*" android:host="*"/>
                                <data android:pathPattern=".*\\..*\\..*\\.mstdbx" android:scheme="content" android:mimeType="*/*" android:host="*"/>
                                <data android:pathPattern=".*\\..*\\..*\\..*\\.mstdbx" android:scheme="content" android:mimeType="*/*" android:host="*"/>
                                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mstdbx" android:scheme="content" android:mimeType="*/*" android:host="*"/>
                                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mstdbx" android:scheme="content" android:mimeType="*/*" android:host="*"/>
                &ndash;&gt;
            </intent-filter>
        </activity>
-->

        <!-- File provider for our "share" functionality where we send a file with a DB replica -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.liorhass.android.medsstocktracker.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>
</manifest>